USE [master]
GO
/****** Object:  Database [QL_TOUR_DU_LICH]    Script Date: 14/01/2024 13:35:17 ******/
CREATE DATABASE [QL_TOUR_DU_LICH]
GO
USE [QL_TOUR_DU_LICH]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [char](7) NOT NULL,
	[ACC] [nvarchar](50) NULL,
	[PASS] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[ACCROLE] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHIPHI]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHIPHI](
	[ID] [char](7) NOT NULL,
	[PHIAN] [money] NULL,
	[PHICHOI] [money] NULL,
	[PHIKHAC] [money] NULL,
	[TONG] [money] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIADIEM]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADIEM](
	[ID] [char](7) NOT NULL,
	[TEN] [nvarchar](40) NULL,
	[IDTINH] [char](7) NULL,
	[CHITIET] [nvarchar](500) NULL,
	[PICBI] [varbinary](max) NULL,
	[IsDeleted] [bit] NULL,
	[GIA] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOAN]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOAN](
	[ID] [char](7) NOT NULL,
	[TEN] [nvarchar](40) NULL,
	[NGAYKHOIHANH] [smalldatetime] NULL,
	[NGAYKETTHUC] [smalldatetime] NULL,
	[CHITIETCHUONGTRINH] [nvarchar](500) NULL,
	[IDTOUR] [char](7) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAMGIA]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAMGIA](
	[ID] [char](7) NOT NULL,
	[DISCOUNT] [int] NULL,
	[PICBI] [varbinary](max) NULL,
	[IDTOUR] [char](7) NULL,
	[IsDeleted] [bit] NULL,
	[NGAYBATDAU] [smalldatetime] NULL,
	[NGAYKETTHUC] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID] [char](7) NOT NULL,
	[TENKH] [nvarchar](30) NULL,
	[CMND] [nvarchar](13) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](15) NULL,
	[SDT] [nvarchar](15) NULL,
	[PICBI] [varbinary](max) NULL,
	[IsDeleted] [bit] NULL,
	[IsVIP] [bit] NULL,
	[SPENDING] [money] NULL,
	[PRI] [nvarchar](40) NULL,
	[MAIL] [nvarchar](50) NULL,
	[IDACC] [char](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHSAN]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHSAN](
	[ID] [char](7) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](15) NULL,
	[PICBI] [varbinary](max) NULL,
	[CHITIET] [nvarchar](500) NULL,
	[GIA] [money] NULL,
	[IDTINH] [char](7) NULL,
	[TEN] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGGER]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGGER](
	[ID] [char](9) NOT NULL,
	[MESSAGE] [nvarchar](60) NULL,
	[EMPLOYEEID] [char](7) NULL,
	[DATE] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [char](7) NOT NULL,
	[MAIL] [nvarchar](50) NULL,
	[SDT] [nvarchar](20) NULL,
	[PICBI] [varbinary](max) NULL,
	[TEN] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[isAvailable] [bit] NULL,
	[SLDI] [int] NULL,
	[IDACC] [char](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUONGTIEN]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONGTIEN](
	[ID] [char](7) NOT NULL,
	[TEN] [nvarchar](30) NULL,
	[PICBI] [varbinary](max) NULL,
	[LOAI] [nvarchar](30) NULL,
	[IDTINH] [char](7) NULL,
	[IsDeleted] [bit] NULL,
	[GIA] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DIADIEM_DULICH]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DIADIEM_DULICH](
	[ID] [char](7) NOT NULL,
	[IDTOUR] [char](7) NULL,
	[IDDIADIEM] [char](7) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KHACHSAN]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KHACHSAN](
	[ID] [char](7) NOT NULL,
	[IDDOAN] [char](7) NULL,
	[IDKHACHSAN] [char](7) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHIEMVU]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHIEMVU](
	[ID] [char](7) NOT NULL,
	[IDDOAN] [char](7) NULL,
	[IDNHANVIEN] [char](7) NULL,
	[NHIEMVU] [nvarchar](20) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_PHUONGTIEN]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PHUONGTIEN](
	[ID] [char](7) NOT NULL,
	[IDDOAN] [char](7) NULL,
	[IDPHUONGTIEN] [char](7) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_PHUTRACH]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PHUTRACH](
	[ID] [char](7) NOT NULL,
	[IDDOAN] [char](7) NULL,
	[IDNHANVIEN] [char](7) NULL,
	[PHUTRACH] [nvarchar](20) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINH]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH](
	[ID] [char](7) NOT NULL,
	[TEN] [nvarchar](30) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOUR]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOUR](
	[ID] [char](7) NOT NULL,
	[TEN] [nvarchar](30) NULL,
	[DACDIEM] [nvarchar](50) NULL,
	[LOAI] [nvarchar](30) NULL,
	[GIA] [money] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 14/01/2024 13:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[ID] [char](7) NOT NULL,
	[NGAYMUA] [smalldatetime] NULL,
	[GIA] [money] NULL,
	[IDKHACH] [char](7) NULL,
	[IDDOAN] [char](7) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[KHACHSAN] ADD  CONSTRAINT [df_value]  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PHUONGTIEN] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tb_DIADIEM_DULICH] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tb_KHACHSAN] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tb_NHIEMVU] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tb_PHUONGTIEN] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tb_PHUTRACH] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TINH] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TOUR] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[VE] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DIADIEM]  WITH CHECK ADD  CONSTRAINT [LK_TINH] FOREIGN KEY([IDTINH])
REFERENCES [dbo].[TINH] ([ID])
GO
ALTER TABLE [dbo].[DIADIEM] CHECK CONSTRAINT [LK_TINH]
GO
ALTER TABLE [dbo].[DOAN]  WITH NOCHECK ADD  CONSTRAINT [LK_TOUR_DOAN] FOREIGN KEY([IDTOUR])
REFERENCES [dbo].[TOUR] ([ID])
GO
ALTER TABLE [dbo].[DOAN] CHECK CONSTRAINT [LK_TOUR_DOAN]
GO
ALTER TABLE [dbo].[GIAMGIA]  WITH CHECK ADD  CONSTRAINT [LK_TOUR_GIAMGIA] FOREIGN KEY([IDTOUR])
REFERENCES [dbo].[TOUR] ([ID])
GO
ALTER TABLE [dbo].[GIAMGIA] CHECK CONSTRAINT [LK_TOUR_GIAMGIA]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [LK_MAIL_ACCOUNT] FOREIGN KEY([IDACC])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [LK_MAIL_ACCOUNT]
GO
ALTER TABLE [dbo].[KHACHSAN]  WITH CHECK ADD  CONSTRAINT [LK_KHACHSAN_TINH] FOREIGN KEY([IDTINH])
REFERENCES [dbo].[TINH] ([ID])
GO
ALTER TABLE [dbo].[KHACHSAN] CHECK CONSTRAINT [LK_KHACHSAN_TINH]
GO
ALTER TABLE [dbo].[LOGGER]  WITH CHECK ADD FOREIGN KEY([EMPLOYEEID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [LK_MAIL_ACCOUNT_NV] FOREIGN KEY([IDACC])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [LK_MAIL_ACCOUNT_NV]
GO
ALTER TABLE [dbo].[PHUONGTIEN]  WITH CHECK ADD  CONSTRAINT [LK_PHUONGTIEN_TINH] FOREIGN KEY([IDTINH])
REFERENCES [dbo].[TINH] ([ID])
GO
ALTER TABLE [dbo].[PHUONGTIEN] CHECK CONSTRAINT [LK_PHUONGTIEN_TINH]
GO
ALTER TABLE [dbo].[tb_DIADIEM_DULICH]  WITH CHECK ADD  CONSTRAINT [LK_DIADIEM_DULICH] FOREIGN KEY([IDDIADIEM])
REFERENCES [dbo].[DIADIEM] ([ID])
GO
ALTER TABLE [dbo].[tb_DIADIEM_DULICH] CHECK CONSTRAINT [LK_DIADIEM_DULICH]
GO
ALTER TABLE [dbo].[tb_DIADIEM_DULICH]  WITH CHECK ADD  CONSTRAINT [LK_TOUR_DULICH] FOREIGN KEY([IDTOUR])
REFERENCES [dbo].[TOUR] ([ID])
GO
ALTER TABLE [dbo].[tb_DIADIEM_DULICH] CHECK CONSTRAINT [LK_TOUR_DULICH]
GO
ALTER TABLE [dbo].[tb_KHACHSAN]  WITH CHECK ADD  CONSTRAINT [LK_DOAN_KHACHSAN] FOREIGN KEY([IDDOAN])
REFERENCES [dbo].[DOAN] ([ID])
GO
ALTER TABLE [dbo].[tb_KHACHSAN] CHECK CONSTRAINT [LK_DOAN_KHACHSAN]
GO
ALTER TABLE [dbo].[tb_KHACHSAN]  WITH CHECK ADD  CONSTRAINT [LK_KHACHSAN_KHACHSAN] FOREIGN KEY([IDKHACHSAN])
REFERENCES [dbo].[KHACHSAN] ([ID])
GO
ALTER TABLE [dbo].[tb_KHACHSAN] CHECK CONSTRAINT [LK_KHACHSAN_KHACHSAN]
GO
ALTER TABLE [dbo].[tb_NHIEMVU]  WITH CHECK ADD  CONSTRAINT [LK_DOAN_NHIEMVU] FOREIGN KEY([IDDOAN])
REFERENCES [dbo].[DOAN] ([ID])
GO
ALTER TABLE [dbo].[tb_NHIEMVU] CHECK CONSTRAINT [LK_DOAN_NHIEMVU]
GO
ALTER TABLE [dbo].[tb_NHIEMVU]  WITH CHECK ADD  CONSTRAINT [LK_NHANVIEN_NHIEMVU] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[tb_NHIEMVU] CHECK CONSTRAINT [LK_NHANVIEN_NHIEMVU]
GO
ALTER TABLE [dbo].[tb_PHUONGTIEN]  WITH CHECK ADD  CONSTRAINT [LK_DOAN_PHUONGTIEN] FOREIGN KEY([IDDOAN])
REFERENCES [dbo].[DOAN] ([ID])
GO
ALTER TABLE [dbo].[tb_PHUONGTIEN] CHECK CONSTRAINT [LK_DOAN_PHUONGTIEN]
GO
ALTER TABLE [dbo].[tb_PHUONGTIEN]  WITH CHECK ADD  CONSTRAINT [LK_PHUONGTIEN_PHUONGTIEN] FOREIGN KEY([IDPHUONGTIEN])
REFERENCES [dbo].[PHUONGTIEN] ([ID])
GO
ALTER TABLE [dbo].[tb_PHUONGTIEN] CHECK CONSTRAINT [LK_PHUONGTIEN_PHUONGTIEN]
GO
ALTER TABLE [dbo].[tb_PHUTRACH]  WITH CHECK ADD  CONSTRAINT [LK_DOAN_PHUTRACH] FOREIGN KEY([IDDOAN])
REFERENCES [dbo].[DOAN] ([ID])
GO
ALTER TABLE [dbo].[tb_PHUTRACH] CHECK CONSTRAINT [LK_DOAN_PHUTRACH]
GO
ALTER TABLE [dbo].[tb_PHUTRACH]  WITH CHECK ADD  CONSTRAINT [LK_NHANVIEN_PHUTRACH] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[tb_PHUTRACH] CHECK CONSTRAINT [LK_NHANVIEN_PHUTRACH]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [LK_VE_DOAN] FOREIGN KEY([IDDOAN])
REFERENCES [dbo].[DOAN] ([ID])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [LK_VE_DOAN]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [LK_VE_KHACH] FOREIGN KEY([IDKHACH])
REFERENCES [dbo].[KHACHHANG] ([ID])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [LK_VE_KHACH]
GO
USE [master]
GO
